body {
    background-color: rgb(101, 90, 124);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(171, 146, 191);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color:#dda9f1;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #e9a1d1;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #d4a7f7;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: rgb(253, 241, 226);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #be71eb;
    margin-top: 8px;
}

.card {
    background-color: #f3d9fa;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #e99fd6;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: #141414;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;

}
button {
    background-color: #111111;
    color: #625f63;
    border: nome;
    padding : 10px 15px;
    border-radius: 8px;
    cursor : pointer;
    }

    button:hover {
        background-color:(101, 90, 124)
    }

.curtir {
    display : block;
    width: fit-content;
    margin: 20px auto;
}

    

