body{
    background-color: rgb(94, 94, 253) ;
    color:rgb(160, 87, 228) ;
    font-family: Arial,  sans-serif; 
}
header{ 
    background-color: blueviolet;
    color:blue;
    text-align: center;
    padding: 30px;

}

h1 {
    font-size: 36px
}
h2 {
    color: brown;
}   

p {
    font-size:18px;
    line-height: 1.6;
}
